
.formContainer {
    font-family: 'Arvo';
    display: flex;
    background-color: white;
    height: 80vh;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    border: 0.1rem solid ;
    width: 99%;
    border-radius: 10px;
    font-family: 'Arvo';
    max-width: 1400px;
    max-height: 800px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .conSection {
    padding-bottom: 200px;
    padding-top: max(60px, 3vw);
    
  }

  [data-theme="dark"] .formContainer {
    background-color: rgb(15, 15, 15);
    border: 0.1rem solid white;
    border-color: rgba(255, 255, 255, 0.12);
  }
  
  .leftContainer {
    width: 40%;
    text-align: center;
    background: repeating-radial-gradient(
        farthest-corner at 10% 10%,
      rgba(255, 255, 255, 0.4) 0,
      rgba(150, 150, 150, 0.5),
      rgba(255, 255, 255, 0.4) 40%
    );

    color: black;
    height: 100%;
    border-right: 0.05rem solid black;
  }

  [data-theme="dark"] .leftContainer {
    background: repeating-radial-gradient(
        farthest-corner at 10% 10%,
      rgba(0, 0, 0, 0.95) 0,
      rgba(25, 25, 30, 0.95),
      rgba(0, 0, 0, 0.95) 40%
    );
    border-color: rgba(255, 255, 255, 0.12);
    color: white;
  }
  
  .rightContainer {
    width: 60%;
    height: 100%;
    border-left: 0.05rem solid black;
  }

  .rightInnerContainer {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    padding-top: 10%;
  }

  [data-theme="dark"] .rightContainer {
    color: white;
    border-color: rgba(255, 255, 255, 0.12);
  }
  
  .leftInnerContainer {
    padding-top: 25%;
  }

  .iconContainer {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  .iconHolder {
    position: relative;
    width: 3vw;
    height: 3vw;

    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconHolder:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(207, 159, 255), rgb(127, 0, 255));
    opacity: 1;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    clip-path: circle(100% at center);
    border-radius: 50%;
  }

  [data-theme="dark"] .iconHolder:before {
    background: linear-gradient(45deg, rgb(222, 49, 99), rgb(255, 182, 193));
  }
  
  .iconHolder:hover:before {
    opacity: 0;
    transform: scale(0.2);
    clip-path: circle(50% at center);
  }
  
  
  
.icon {
    width: 2vw;
    height: 2vw;
    min-width: 2px;
    min-height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: color 300ms ease-out;
    transition: width 300ms ease-out;
    transition: height 300ms ease-out;
  }
  
  .iconHolder:hover .icon {
    color: rgb(127, 0, 255);
    width: 2.5vw;
    height: 2.5vw;
    min-width: 25px;
    min-height: 25px;
  }

  [data-theme="dark"] .iconHolder:hover .icon {
    color: rgb(222, 49, 99);
  }

  .lgView {
    background: repeating-radial-gradient(
      farthest-corner at 50% 100%,
      rgb(207, 159, 255) 0,
      rgb(127, 0, 255),
      rgb(207, 159, 255) 40%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  [data-theme="dark"] .lgView {
    background: repeating-radial-gradient(
      farthest-corner at 50% 100%,
      rgb(255, 182, 193) 0,
      rgb(222, 49, 99),
      rgb(255, 182, 193) 40%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header {
    font-family: 'Inconsolata';
    text-align: left;
    font-size: clamp(60px, 15vw, 75px);
    margin-bottom: 20px;
    color: rgb(127, 0, 255);
    text-shadow:
      0 0 0 transparent,
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255);
    animation: blink 4s infinite alternate;
    padding-left: 5vw;
  }
  

  [data-theme="dark"] .header {
    color: rgb(255, 182, 193);
    text-shadow:
      0 0 0 transparent,
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99);
    animation: blink 4s infinite alternate;
  }

  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }


  .btnContainer {
    overflow: hidden;
  }

  .hDivider {
    margin-top: 20px;
    flex-grow: 1;
  }
  
  .hDivider .shadow {
    height: 20px;
  }
  
  .hDivider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

  [data-theme="dark"] .hDivider .shadow:after {
    box-shadow: 0 0 8px white;
  }

  .trueHead {
    display: flex; /* Change 'inline' to 'flex' to enable flex layout */
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .hDivider {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .formContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 600px;
    }

    [data-theme="dark"] .formContainer {
    }
  
    .leftContainer {
      display: none;
      background: none;
    }
    .rightContainer {
        width: 100%;
    }
    .header {
      font-size: clamp(26px, 6vw, 40px);
    }
  }
