.skills {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: max(60px, 3vw);
  }
  
  .skill-header {
    font-family: 'Inconsolata';
    font-size: clamp(60px, 15vw, 75px);
    margin-bottom: 20px;
    color: rgb(127, 0, 255);
    text-shadow:
      0 0 0 transparent,
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255),
      0 0 1vw rgb(207, 159, 255);
    animation: blink 4s infinite alternate;
    padding-left: 5vw;
  }

  [data-theme="dark"] .skill-header {
    color: rgb(255, 182, 193);
    text-shadow:
      0 0 0 transparent,
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99),
      0 0 1vw rgb(222, 49, 99);
    animation: blink 4s infinite alternate;
  }
  .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 50px;
    gap: 0px 100px;
  }

  .hDivider {
    margin-top: 20px;
    flex-grow: 1;
  }
  
  .hDivider .shadow {
    height: 20px;
  }

  .flexOverGrid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hDivider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

  [data-theme="dark"] .hDivider .shadow:after {
    box-shadow: 0 0 8px white;
  }

  .trueHead {
    display: flex; /* Change 'inline' to 'flex' to enable flex layout */
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .hDivider {
      margin-top: 0px;
    }
  }



  
  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }

  @media (min-width: 1940px) {

    .skills-wrapper {
      width: 1700px;
    }
    
  }

  @media (max-width: 768px) {
    .skill-header {
      font-size: clamp(26px, 6vw, 40px);
    }
    .skills-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
  
  }

  
  @media (max-width: 480px) {

    .skills-wrapper {
      grid-template-columns: 1fr;
      gap: 0px;
    }


  }
  